.header {
    height: 200px;
    background-color: #cdcdcd;
    background-image: url(../../assets/images/header.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 25px 15px;
}

