.hotel {
    /* border-bottom: 1px solid #cdcdcd; */
    margin-bottom: 20px;
    /* padding: 20px; */
    background-color: #dfe7f7; 
}

.title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0;
}

.description {
    color: light;
    margin-top: 10px;
    font-size: .88rem;
    margin-bottom: 0;
}